@import "/fancyindex/css/normalize.css";
@import "/fancyindex/css/main.css";

body {
	background-color: #edeae1;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	padding: 0;
	/*	text-align: center;*/
}
a, a:visited {
	color: #4d4d4d;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.date {
	text-align: right;
	width: 33%;
}
.icon {
	width: 25px;
}
.name {
	text-align: left;
}
.size {
	text-align: right;
}
.smaller {
	color: #777777;
	padding-right: 4px;
}
.odd {
	background: #f0f0f0;
}

#header {
	background-color: #6f6d68;
	border: #565550 1px solid;
	color: #e4e2dd;
	line-height: 20px;
	overflow: hidden;
	position: relative;
	/*	min-height: 30px;*/
	/*	height: auto;*/
	/*	text-align: left;*/
}
#header img {
	padding: 0 8px 0 8px;
	position: relative;
}
#header a {
	color: #bbb
}
#header a:hover {
	color: #fff
}
#home {
	padding-top: 3px;
	margin-right: -30px
}
#path {
	padding: 3px 60px 3px 32px;
}
#path a {
	display: inline-block;
}
#domain span {
	color: #eee
}
#domain {
	margin-left: -32px;
}

.navicons {
	padding-top: 3px;
	margin-left: -4px;
	float: right;
}

#header .right {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

#files {
	padding: 20px 8px 0 8px;
}
#files table {
	margin: 0 auto;
	width: 753px;
	background-color: #fafafa;
	border: #d6d4cf 1px solid;
	border-bottom: none;
	border-collapse: collapse;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
tr:first-child {
	background: #fff;
}
#files tr td img {
	padding-left: 4px
}
#files tbody {
	text-align: left;
	width: 100%;
	padding-bottom: 3px;
}
#files td {
	height: 30px;
}
#files a {
	position: relative;
}
#files a img {
	position: inherit;
	top: 5px;
}
#footer {
	margin: 0px 8px 15px;
	padding-bottom: 8px;
}
#footer .wrap {
	max-width: 747px;
	margin: 0 auto;
	color: #b9b7b3;
	padding: 3px;
	opacity: 0.66;
	border-top: #d6d4cf 1px solid;
}
#footer a {
	color: #b9b7b3;
}
#footer a:hover {
	color: #4d4d4d;
}
#footer section {
	display: block;
	float: left;
	margin: 0px 5px;
	text-align: left;
}
#footer section.right {
	float: right;
	text-align: right;
}
#footer span {
	opacity: 0.75;
}
#footer span:hover {
	opacity: 1;
}

@media only screen and (max-width: 767px) {
	#path a#domain {
		display: block;
	}
	#path {
		padding-right: 8px;
	}
	#files table {
		width: 100%;
	}
	
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
	#footer section.center {
		display: none;
	}
	#files {
		padding-top: 8px;
	}
	#files tr td img {
		padding-top: 4px;
	}

}
